[submodule "vendor/tvision"]
	path = vendor/tvision
	url = ../tvision
[submodule "vendor/libev-ik"]
	path = vendor/libev-ik
	url = ../libev-ik
[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = ../cJSON
[submodule "vendor/docbook2mdoc"]
	path = vendor/docbook2mdoc
	url = ../docbook2mdoc
